html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.img-in-popup {
  width: 100px;
  height: 100px;
}

.pizzaPopup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pizzaPopup h2 {
  margin: 3px;
}

.pizzaPopup h1 {
  margin-top: 0px;
}

.pizzaPopup h3 {
  margin: 0px;
}

.searchContainer {
  margin: 1rem;
  padding: 1.5rem;
  text-align: center;
  color: inherit;
  background-color: rgb(180, 187, 187);
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.alternativeSelect {
  padding-top: 0.5rem;
  display: flex;
  flex-direction: column;
}

.alternativeSelect select {
  margin-top: 0.3rem;
}

.newPath {
  margin-top: 0.6rem;
}

.selectOptions {
  display: flex;
  flex-direction: column;
}
.selectOptions select {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

/* select {
  font-size: 15px;
  color: #ffffff;
  background-color: #0c0c0c;
  border-radius: 15px;
  border: 2px solid rgb(180 187 187);
  cursor: pointer;
  font-weight: 100;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  text-align: -moz-center;
} */

/* button {
  font-size: 15px;
  color: #ffffff;
  background-color: #0c0c0c;
  border-radius: 15px;
  border: 2px solid rgb(180 187 187);
  cursor: pointer;
  font-weight: 100;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

input {
  background-color: #f30000;
  text-align: center;
  color: #ffffff;
  border-radius: 15px;
} */

.success {
  background-color: green;
}

/* .leaflet-routing-collapse-btn {
  position: absolute;
} */

@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) and (display: flow-root) {
    .selectOptions select {
      -webkit-padding-start: 41.5%;
    }
    select {
      -webkit-padding-start: 35%;
    }
  }
}

/*ios */
@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-touch-callout: none) {
    .selectOptions select {
      -webkit-padding-start: 38%;
    }
    select {
      -webkit-padding-start: 38%;
    }
  }
}


@tailwind base;
@tailwind components;
@tailwind utilities;
